{% extends "layout.html" %}

  {% block body %}
 <div class="channels">
   <div class="inner">
     <div id="chans">
       <div id="title1">Join a channel:</div>
       <hr>
       {% for channels in channels %}
        <br><a class='nav' href="" name='{{ channels }}'>{{ channels }}</a>
       {% endfor %}
     </div>

   </div>
    <br><button id="create" class="buttons"><small>New Channel</small></button>
            <br><div class="act">Current Chanel:<div id="current"></div></div>
 </div>

  <div class="channels">
    <div class="inner" id="chat">

    </div>
    <div id="text">
    <form id="message" action="" method="post">
      <textarea name="name" rows="6" id="in"cols="40"required></textarea>
      <button class="buttons"id="button"type="submit">Send</button>
    </form>

    </div>

  </div>


  {% endblock %}
