{% extends "layout.html" %}

  {% block body %}
  FLACK
 <br><a id="create" href=""><small>New Channel</small></a>

 <div class="channels">
   <ul id="chans">
     {% for channels in channels %}
      <li><a class='nav' href="" name='{{ channels }}'>{{ channels }}</a></li>
     {% endfor %}
   </ul>

 </div>
 <p id="title"></p>
  <div id="chat">

  </div>


  <form id="message" action="" method="post">
    <textarea name="name" rows="6" id="in"cols="40"required></textarea>
    <button class="buttons"id="button"type="submit">Send</button>
  </form>

  {% endblock %}
