{% extends "layout.html" %}

  {% block body %}
    Hello, {{ username }} <br>

    Create a channel below: <br>
    <form action="" id='adds' method="post">
      <input type="text" class="disp" id="chaname" VALUE='User01'placeholder='Channel Name'> <br>
      <button type="submit" class="buttons"><i class="ics fas fa-plus"></i></button>
    </form>
    <hr>
    or join an existing channel:

    <div class="channels">
      <ul id='chans'>
        {% for channels in channels %}
          <li><a class='nav' href="{{ channels }}" name='{{ channels }}'>{{ channels }}</a></li>
        {% endfor %}
      </ul>

    </div>

  {% endblock %}
