{% extends "layout.html" %}

  {% block body %}
    Hello, user <br>

    Create a channel below: <br>
    <form action="" id='adds'method="post">
      <input type="text" class="disp" id="chaname" VALUE='User01'placeholder='Channel Name'> <br>
      <button type="submit" class="buttons"><i class="ics fas fa-plus"></i></button>
    </form>
    <hr>
    or join an existing channel:

    <div class="channels">
      <ul id='chans'>
        <li><a class='nav' href='/channel/<chan>' data-page='General'>General</a></li>
      </ul>

    </div>
  {% endblock %}
