{% extends "layout.html" %}

  {% block body %}
    Hello, user <br>

    Create a channel below: <br>
    <form action="" method="post">
      <input type="text" class="disp" id="chaname" VALUE='AWD'placeholder='Channel Name'> <br>
      <button type="submit" onclick='add()' id='adds'class="buttons"value="Create"><i class="ics fas fa-plus"></i></button>
    </form>
    <hr>
    or join an existing channel:

    <div class="channels">
      <ul id='chans'>
        <li><a href="">Channel</a></li>
      </ul>

    </div>
  {% endblock %}
